* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
a,
li {
	font-family: 'ABeeZee', sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bokor', serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: #000;
	text-align: center;
}

a:hover {
	font-weight: bolder;
	background-color: #000;
	color: #fff;
}

img {
	width: 500px;
	height: auto;
}

.return-to-main {
	font-weight: bold;
	font-family: 'Bokor', serif;
	font-size: 2rem;
}

.recipes li {
	list-style: none;
	font-weight: bold;
	text-align: center;
}

.container {
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
